version: 2.1

orbs:
  win: circleci/windows@1.0.0

workflows:
  workflow:
    jobs:
      - go-test:
          name: Go 1.16
          docker-image: cimg/go:1.16
      - go-test:
          name: Go 1.15
          docker-image: cimg/go:1.15
          with-coverage: true
          run-lint: true
      - go-test:
          name: Go 1.14
          docker-image: cimg/go:1.14
      - go-test-windows:
          name: Windows

jobs:
  go-test:
    parameters:
      docker-image:
        type: string
      run-lint:
        type: boolean
        default: false
      with-coverage:
        type: boolean
        default: false
  
    docker:
      - image: <<parameters.docker-image>>
        environment:
          CIRCLE_TEST_REPORTS: /tmp/circle-reports
          CIRCLE_ARTIFACTS: /tmp/circle-artifacts
      - image: amazon/dynamodb-local

    steps:
      - checkout

      - run:
          name: install go-junit-report
          command: go get -u github.com/jstemmer/go-junit-report

      - when:
          condition: <<parameters.run-lint>>
          steps:
            - run: make lint

      - run:
          name: Build
          command: make

      - run:
          name: Run tests
          command: |
            mkdir -p $CIRCLE_TEST_REPORTS
            mkdir -p $CIRCLE_ARTIFACTS
            make test | tee $CIRCLE_ARTIFACTS/report.txt
    
      - when:
          condition: <<parameters.with-coverage>>
          steps:
            - run:
                name: Make coverage report
                command: |
                  make test-coverage || true
            - run:
                name: Store coverage results
                command: cp build/coverage* /tmp/circle-artifacts
                when: always
    
      - run:
          name: Process test results
          command: go-junit-report < $CIRCLE_ARTIFACTS/report.txt > $CIRCLE_TEST_REPORTS/junit.xml
          when: always
      
      - store_test_results:
          path: /tmp/circle-reports

      - store_artifacts:
          path: /tmp/circle-artifacts

  go-test-windows:
    executor:
      name: win/vs2019
      shell: powershell.exe

    environment:
      GOPATH: C:\Users\VssAdministrator\go

    steps:
      - checkout
      - run: 
          name: download Go 1.14.13
          command: |
            $ErrorActionPreference = "Stop"
            $installerUrl = "https://golang.org/dl/go1.14.13.windows-amd64.msi"
            (New-Object System.Net.WebClient).DownloadFile($installerUrl, "go1.14.13.windows-amd64.msi")
      - run:
          name: install Go 1.14.13
          command: Start-Process msiexec.exe -Wait -ArgumentList "/I go1.14.13.windows-amd64.msi /quiet"
      - run: go version
      - run:
          name: setup DynamoDB
          command: |
            $ProgressPreference = "SilentlyContinue"  # prevents console errors from CircleCI host when we use iwr
            iwr -outf dynamo.zip https://s3-us-west-2.amazonaws.com/dynamodb-local/dynamodb_local_latest.zip
            mkdir dynamo
            Expand-Archive -Path dynamo.zip -DestinationPath dynamo
            cd dynamo
            javaw -D"java.library.path=./DynamoDBLocal_lib" -jar DynamoDBLocal.jar
          background: true
      - run:
          name: build and test
          command: |
            cd ${env:GOPATH}\src\${env:PACKAGE_PATH}
            go test -race ./...
